@model VotingWeb.Models.ElectionResultsViewModel
@{
    ViewBag.Title = "Election Results";
}

<h2>Ballot Results</h2>
<div class="panel panel-default">
    <div class="panel-heading">Commander in Cream and Vice President</div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Party</th>
            @for (int i = 0; i <= Model.NumberOfRankings; i++)
            {
                <th>Ranking @i</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var result in Model.PresidentResults)
        {
            <tr>
                <td>
                    @result.Key.PrimeCandidateItem.Name
                    <br/>
                    @result.Key.SubCandidateItem.Name
                </td>
                <td>
                    @result.Key.PrimeCandidateItem.Party
                </td>
                @for (int i = 0; i <= Model.NumberOfRankings; i++)
                {
                    
                    <td>
                        @foreach (var totalOfRankings in result.Value)
                        {
                            if (@totalOfRankings.Key == i)
                            {
                                @totalOfRankings.Value
                            }
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Chief Dairy Queen</div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-4">Name</th>
                <th class="col-md-4">For</th>
                <th class="col-md-4">Against</th>

            </tr>
        </thead>
        <tr>
            @if (Model.SupremeCourtResult.Count > 0)
            {
                <td>
                    @Model.SupremeCourtResult.First().Key.CandidateItem.Name
                </td>
                <td>
                    @Model.SupremeCourtResult.First().Value[true]
                </td>
                <td>
                    @Model.SupremeCourtResult.First().Value[false]
                </td>
            }
        </tr>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">State Rep.District M & M</div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-4">Name</th>
                <th class="col-md-4">Party</th>
                <th class="col-md-4">Votes</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var result in Model.StateReps)
        {
            <tr>
                <td>
                    @result.Key.CandidateItem.Name
                </td>
                <td>
                    @result.Key.CandidateItem.Party
                </td>
                <td>
                    @result.Value
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Constitutional Initiative No. 116</div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-6">For</th>
                <th class="col-md-6">Against</th>
            </tr>
        </thead>
        <tbody>
        <tr>
        @if (Model.BallotIssue.Count > 0)
        {
            <td>
                @Model.BallotIssue.First().Value[true]
            </td>
            <td>
                @Model.BallotIssue.First().Value[false]
            </td>
        }
        </tr>
        </tbody>
    </table>
</div>