@model VotingWeb.Models.ElectionResultsViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Ballot Results</h2>
@*First Group for this example the results for president*@
<div class="panel panel-default">
    <div class="panel-heading">Commander in Cream and Vice President</div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Party</th>
            @for (int i = 0; i <= Model.NumberOfRankings; i++)
            {
                <th>Ranking @i</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var result in Model.PresidentResults)
        {
            <tr>
                <td>
                    @result.Key.PrimeCanidate.Name
                    <br/>
                    @result.Key.SubCanidate.Name
                </td>
                <td>
                    @result.Key.PrimeCanidate.Party
                </td>
                @for (int i = 0; i <= Model.NumberOfRankings; i++)
                {
                    var defaultValue = 0;
                    <td>
                        @foreach (var totalOfRankings in result.Value)
                        {
                            if (totalOfRankings.Key == i)
                            {
                                @totalOfRankings.Value
                            }
                            else
                            {
                                @defaultValue
                            }
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>
@*<div class="panel panel-default">
    <div class="panel-heading">Chief Dairy Queen</div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-4">Name</th>
                <th class="col-md-4">For</th>
                <th class="col-md-4">Against</th>

            </tr>
        </thead>
        @foreach (var result in Model.VoteResults.Where(x => x.SingleVoteId != null || x.SingleVoteItem.Canidate != null))
        {
            <tr>
                <td>
                    @result.SingleVoteItem.Canidate.Name
                </td>
                <td>
                    @result.SingleVoteItem.YesVote
                </td>
                <td>
                    @result.SingleVoteItem.NoVote
                </td>
            </tr>
        }
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">State Rep.District M & M</div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-4">Name</th>
                <th class="col-md-4">Party</th>
                <th class="col-md-4">Votes</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var result in Model.VoteResults.Where(x => x.MultipleVoteId != null))
        {
            <tr>
                <td>
                    @result.MultipleVoteItem.Canidate.Name
                </td>
                <td>
                    @result.MultipleVoteItem.Canidate.Party
                </td>
                <td>
                    @result.MultipleVoteItem.VotedFor
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Constitutional Initiative No. 116</div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-6">For</th>
                <th class="col-md-6">Against</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var result in Model.VoteResults.Where(x => x.SingleVoteId != null || x.SingleVoteItem.Issue != null))
        {
            <tr>
                <td>
                    @result.SingleVoteItem.Canidate.Name
                </td>
                <td>
                    @result.SingleVoteItem.YesVote
                </td>
                <td>
                    @result.SingleVoteItem.NoVote
                </td>
            </tr>
        }
        </tbody>
    </table>*@
@*</div>*@